[Unit]
Description=Alertmanager
Documentation=https://prometheus.io/docs/alerting/latest/alertmanager/
Wants=network-online.target
After=network-online.target

[Service]
User={{ alertmanager_user }}
Group={{ alertmanager_user }}

Type=simple

ExecStart={{ alertmanager_bin_dir }}/alertmanager \
	--config.file={{ alertmanager_config_dir }}/alertmanager.yml \
	--storage.path={{ alertmanager_data_dir }} \

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target